@CHARSET "ISO-8859-1";

.borda {
	border: 1px solid;
	width: 400px;
}

.alert-error, .validation {
	text-align: center;
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}

.validation {
	text-align: center;
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
	width: 190px;
	padding-left: 10px;
	padding-right: 180px;
	white-space: nowrap;
}

.help-inline {
	display: inline-block;
	*display: inline;
	padding-left: 5px;
	vertical-align: middle;
	*zoom: 1;
}

.gradeC {
	background-color: #eeeeff;
}

.gradeX {
	background-color: #ffdddd;
}

.login-box {
	width: 150px;
	height: 200px;
}