<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="display" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p - %m%n" />
		</layout>
	</appender>

	<logger name="root">
		<level value="debug" />
		<appender-ref ref="display" />
	</logger>

	<logger name="br.com.spring.schedule.jms">
		<level value="INFO" />
		<appender-ref ref="display" />
	</logger>

	<logger name="org.springframework">
		<level value="ERROR" />
		<appender-ref ref="display" />
	</logger>

	<logger name="org.hibernate">
		<level value="FATAL" />
		<appender-ref ref="display" />
	</logger>

	<logger name="org.jboss.logging">
		<level value="FATAL" />
		<appender-ref ref="display" />
	</logger>

	<logger name="org.eclipse.persistence">
		<level value="FINE" />
		<appender-ref ref="display" />
	</logger>

</log4j:configuration> 